@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #2c3e50;
  --secondary-color: #349;
  --accent-color: #e74c3c;
  --background-light: #ecf0f1;
  --texr-color: #333;
  --white: #fff;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* body */
body {
  background-color: var(--background-light);
  color: var(--text-color);
  line-height: 1.6;
}

/* header */
.header {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav a {
  color: var(--white);
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--secondary-color);
}

/* layout */
.container {
  display: flex;
  gap: 20px;
  max-width: 1100px;
  margin: 20px auto;
  padding: 20px;
}

.main {
  flex: 2;
  background-color: var(--white);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

aside {
  flex: 1;
  background-color: var(--white);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* section */
h1, h2, h3 {
  color: var(--primary-color);
}

article {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid var(--secondary-color);
  background: var(--white);
  border-radius: 5px;
}

article img {
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
}

audio {
  width: 100%;
  margin-top: 10px;
}

iframe {
  width: 100%;
  margin-top: 10px;
}

/* sidebar */
aside ul {
  list-style: none;
  padding: 0;
}

aside ul li {
  margin-bottom: 10px 0;
}

aside a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.3s ease;
}

aside a:hover {
  color: var(--accent-color);
}

/* footer */

footer{
  text-align: center;
  background: var(--primary-color);
  color: var(--white);
  padding: 20px;
  margin-top: 20px;
}

footer a {
  text-decoration: none;
  color: var(--white);
  transition: color 0.3s ease;
}

footer a:hover {
  color: var(--accent-color);
}

/* responsive design */

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .header {
font-size: 14px;  }

 article {
    padding: 15px;
  }
}